
body{
   color: rgb(200,200,200);
   background-color: rgb(50,50,50);
   padding-left: 11em;
}
/*hylink at bottom*/
a{
   color: rgb(200,0,100);
}

ul.navbar {
    position: absolute;
    top: 4em;
    left: 1em;
    width: 9em;
    font-size: 25px;
}