
.down-cs {
    background-image: url('Images/website-under-construction edit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.new {
    color: snow;
    text-align: center;
    font-size: 60px;
    text-shadow: 2px 2px 4px #000000;
}
/* This is where the main site starts*/
@font-face {
        src: url("logos/JetBrainsMono-1.0.3");
    }
* {
    font-family: "JetBrains Mono", monospace;
}
header {
    background-image: url("Images/19682.jpg");
    height: 1000px;
    width: auto;
}
.nav {
    font-size: 30px;
    padding-top: 700px;
    padding-left: 42px;
}
.nav a {
    color: snow;
    padding: 10px;
    text-decoration: none;
}
.nav a:hover {
    color: firebrick;
}
.soft {
    height: auto;
    width: auto;
    text-align: center;
}
.title {
    color: snow;
    text-align: center;
    font-size: 55px;
    padding-top: 50px;
}
.goal {
    font-size: 30px;
    color: snow;
    text-align: center;
    padding-bottom: 30px;
}
.soft a {
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    display: inline-block;
    background-color: snow;
    color: #001322;
    text-decoration: none;
    align-items: center;
}
.soft a:hover {
    background-color: firebrick;
    color: snow;
}
.intro {
    width: auto;
    height: auto;
    text-align: center;
}
#about {
    width: 800px;
    border-top: 6px solid snow;
    border-bottom: 6px solid snow;
    display: inline-block;
    margin-top: 50px;
    padding-bottom: 25px;
}
#about H2 {
    color: snow;
    text-align: center;
    font-size: 55px;
}
#about h3 {
    text-align: center;
    font-size: 30px;
    color: snow;
}
#about p {
    text-align: center;
    color: snow;
    font-size: 20px;
}
#about img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 20px
}
.WWDF {
    display: inline-block;
    width: auto;
    margin-top: 50px;
}
.WWDF H2 {
    color: snow;
    text-align: center;
    font-size: 55px;
}
.WWDF h3 {
    color: snow;
    text-align: center;
    font-size: 20px;

}
.WWDF p {
    text-align: center;
    display: inline-block;
    color: snow;

}
#first, #second, #third {
    Display: inline-block;
    margin: 50px;
    border: 6px solid firebrick;
    border-radius: 10px;
    height: 300px;
    width: 400px;
}
#first {
    alignment: left;
}
#second {
    alignment: center;
}
#third {
    alignment: left;
}
#services {
    text-align: center;
    width: auto;
    height: 600px;
    margin-top: -50px;
    padding-bottom: 50px;
}
#services h2 {
    height: auto;
    text-align: center;
    font-size: 55px;
    padding-bottom: 50px;
    color: snow;
    padding-top: 50px;
}
#services h3 {
    text-align: center;
    font-size: 30px;
    color: white;
    text-decoration-line: underline;
}
#app, #web, #mait, #ETL {
    float: left;
    width: 25%;
    display: inline-block;
}
.icons p {
    font-size: 20px;
    text-align: center;
    color: snow;
    alignment: center;
    margin: 40px;
}
body {
    background-color: #001322;
}
label {
    color: snow;
}
footer {
    height: auto;
    width: 100%;
    background-color: firebrick;
    display: table;
}
.form {
    padding-top: 70px;
    padding-bottom: 70px;
    display: table-cell;
    width: 50%;
    padding-left: 200px;
}
.contact_input {
    width: 500px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid snow;
    font-size: 25px;
    margin: 15px;
}
::placeholder {
    color: snow;
}
.contact-form-submit {
    width: 150px;
    height:50px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 15px;
}
.contact-form-submit:hover {
    background-color: #001322;
    color: snow;
}
.fa {
    padding: 20px;
    font-size: 40px;
    height: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa:hover {
    opacity: 0.7;
}
.social {
    display: table-cell;
    width: 25%;
}
.social h3 {
    color: snow;
    font-size:  30px;
}
.menu h3 {
    font-size: 30px;
    color: snow;
}
.menu {
    display: table-cell;
    width: 25%;
}
.menu a {
    text-decoration: none;
    color: #001322;
    font-size: 20px;
}
.menu a:hover {
    color: snow;
}











